name: deepcv
channels:
        - defaults
        - scitools
        - conda-forge
        - pytorch
dependencies:
        - python=3.7
        - pip
        - setuptools
        - autopep8
        - pylint=2.4.*
        - pytest=5.4.*
        - coverage=5.0.*
        - joblib=0.14.*
        - matplotlib=3.2.*
        - pandas=1.0.*
        - scikit-learn>=0.22
        - scikit-image=0.16.*
        - seaborn=0.10.*
        - pytorch=1.4.*
        - mlflow=1.7.*
        - hyperopt=0.2.*
        - jupyter=1.0.*
        - ignite=0.3.*
        - pillow=7.0.*
        - click=7.1.*
        - hilbertcurve=1.0.*
        - tensorboardX=2.*
        - pip:
                  - kedro
                  - kedro-viz
